#footer_box{
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top:1px solid #e5e5e5;
}
#payNum{
  position:relative;
}
#orderNum{
  position:relative;
}
.footer{
  text-align: center;  
  display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;      
  display: -webkit-flex;     
  display: flex;             
  font-size:12px;background-color: #fff;height: 60px;padding-top: 12px;
}
.footer>a{  
  -webkit-box-flex: 1;   
  -moz-box-flex: 1;        
  -webkit-flex: 1;        
  -ms-flex: 1;             
  flex: 1;                
  white-space: normal;font-size: 12px;
}
.nav_name{
  display:inline-block;
  width:100%;    
  color: #7c7c7c;    
  margin-top: 2px;
}
.nav_icon{
  display:inline-block;    
  width: 22px;
}
.nav_icon>img{
  width:100%;
}
.active{
  color:#fb366b!important;
}
.tab-sub {
  right: -5px;
  top: -8px;
  height:auto;
  padding:2px;
}

@media screen and (min-width: 760px){
.footer{height: 80px;padding-top: 15px;}
.footer>a{font-size:16px;}
.nav_icon{width:30px;}
}