.head {
	width: 100%;
	height: 0.5rem;
	background: #eeeeee;
}

.banner img{width:100%; }

.sale_box_gift{
	overflow:hidden;
	width: 100%;
	height:6.5rem;
}

.dt_title{
	width: 95%;
	height: 1.5rem;
	font-size: 0.95rem;
	text-align:justify; 
	margin:0rem auto;
	color:#000000;

	line-height: 2rem;
}

.dt_text{
	width: 95%;
	height: 1.5rem;
	font-size: 0.8rem;
	text-align:justify; 
	margin:0rem auto;
	color:#9e9e9e;
	line-height: 2.3rem;
}

.dt_text span{
	color:red;
}	

.exchange{
	margin-left:0.2rem;
    display: inline-block;
    border-radius: 2px;
    line-height: 26px;
    background-color: #00a0ea!important;
    padding: 0 14px;
    color: #fff;
    font-size: 0.7rem;
    text-align: center;
    border: 0;
    float:right;
    margin-bottom: 2rem;
}
	
.box{
	width: 100%;
	height: 4rem;
}
	
.box .box_a{
	width: 30%;
	height: 2rem; 
	background: #00a0ea;
	border-radius:0rem 10rem 10rem 0rem;
	float:left;
	margin-top:1rem;
	text-align: center;
	}

.box .box_a p{
	font-size: 0.8rem;
	color:#fff;
	float:left;
	margin-left:1.2rem;
	line-height: 2rem;
	}
	
.box .box_b{
	width:45%;
	float: right;
	line-height: 2rem;
	margin-top:1rem;

	}
	
.box .box_b p{font-size: 1rem;}
.box .box_b p span{
	font-size: 1.5rem;
	color:red;
	font-weight:bold
	}

.list{
	width: 100%; 
	height:0.5px; 
	background: #e7e6e6;
}

.foot{
	width: 100%; 
	height: 100%;
	background: #eeeded;
	position: fixed;
}


.list_box{
	width: 100%;
	height: auto; 
}

.list_box .list_boxa{
	width: 37%;
	height: 7.5rem;
	background: #efefef;
	margin-left: 1rem;
	margin-top:0.6rem;
	border:0.1rem solid #c5c5c5;
	float:left;
	}
	
.list_box .list_boxa img{
	width: 100%;
	height: 100%;
}
	

.div_title {
	width: 11rem;
	height: 6.5rem;	
	float: left; 
	margin-left: 0.3rem;
	margin-top: 1.2rem;	
}	


.round{
	width: 35%;
	height: 2.2rem; 
	background:#00a0ea; 
	float: right;
	margin-right: 2rem;
	border-radius:2.5rem;
	color:#fff;
	text-align: center;
}

.round p{
	line-height:2.2rem;
	/* width: 4rem;
	margin:0px auto; */
	}
.list_A{
	width: 100%;
	height: 9rem;
}

.tabs {
	margin-bottom: 2.6rem;
}

.context {
  margin-top: 3rem;
}

.bottom{
	width: 100%; 
	height:2.5rem;
	position:fixed; 
	bottom:0; 
	border-top: 1px solid #dfdfdf;
	background: #fff; 
	}
.bottom .gift_b{
	width: 49%;
	height: 3.5rem;
	float:left;
	border-right: 0.5px solid #dfdfdf;
	}
.bottom .user_b{
	width: 50%;
	height: 3.5rem;
	float:left;
/* 	border-right: 0.5px solid #dfdfdf; */
	}
.bottom img{
    margin-left:3.5rem;
	height: 1.5rem;
	width:1.5rem;
	vertical-align:text-bottom;
	}
.bottom p{ 
	font-size: 0.8rem;
	margin-top: 0.3rem;
	}	