.page-field{
    margin-bottom: 40px;
}

.page-part{
    margin-bottom: 15px;
}

.cond_num{
    width: 70px;
    /* height: 40px; */
    background: #26a2ff;
    background-color: none;
    color: #fff;
    line-height: 40px;
    text-align: center;
    float: right;
    margin-right: 2.5%;
    //margin-top: 5px;
    border-radius: 3px;
    font-size: 13px;
}

.cond_num_actinve{
    background-color: #dddddd;
}