.giftImage{
	height: 20%;
	width: 100%;
	}
.giftImage img{
    width:100%; 
    height:100%;
    border: none;
}
	
.head{
	height: 4rem;
	width: 100%;	
}	

.head_left{
	float:left; 
	width: 55%;
	height:100%;
}

.head_right{
	float:left;

	height:100%; 
}

.detail_head{
	height: 10%;
	width: 100%;	
}

.head_right p{
    width: 95%;
    height: 1.5rem;
    font-size: 0.85rem;
    text-align: justify;
    margin-left: 2rem;
    color: #9e9e9e;
    line-height: 2.3rem;	
    margin-top: 1rem;
}

#spendPoints{
	font-size: 0.95rem;
	color: red;
}

#giftName{
	font-size: 0.95rem;
	color: #000000;
}


.head_left p{
    width: 95%;
    height: 1.5rem;
    font-size: 0.85rem;
    text-align: justify;
    margin-left: 1.3rem;
    color: #9e9e9e;
    line-height: 2.3rem;
    border-right:0.5px solid #e7e6e6;
}

.giftName_p{
	margin-top :0.5rem;
}

.price_p{
	margin-bottom :0.5rem;
}


.list{
	width: 100%; 
	height: 8px; 
	background: #eeeded;
}

.free{
	width: 80%;
    height: 1rem;
    border-left: 0.3rem solid #00a0ea;
    margin-left:1rem;
    margin-top: 1rem;
}
    
.free p{
	font-size: 0.8rem; 
	margin-left: 0.5rem;
}

.wrap{

}

.fgray{
	/* padding-left : 0.5rem; */
	margin-top : 1rem;
	margin-bottom : 2.6rem;
}

.info{
   /*  display:table; */
    /* opacity: 0.9; */ /**半透明**/

    z-index:9999; /**层级**/
	width:80%;/**宽度**/
	height:13.2rem;/**高度**/
	position:fixed;/**绝对定位**/
	left:50%;/**左边50%**/
	top:40%;/**顶部50%**/
	margin-top:-10%; /**上移-50%**/
	margin-left:-40%; /**左移-50%**/
		
    background: #ededed;
    -moz-border-radius: 15px; 
    -webkit-border-radius: 15px; 
    border-radius:5px; 
	
}

.info_body{

	background: #fff;
	width:80%;/**宽度**/
	text-align:center;
	margin:5% auto;
	padding:2% 2%;
}

.info_text{
	font-size: 1rem;
	
}

input {
	margin-left:3%;
	background: #fff;
	background:no-repeat 0 0 scroll ＃EEEEEE;
    border:none;
    outline:medium;
    width: 50%;
    font-size: 0.9rem;
	
	
}
	
.add_new_address {
    width: 100%;
    position: fixed; 
    bottom: 0px;
    background-color: #00a0ea;
    border-top: 1px solid #e6e6e6;
}

.add_new_address_body {
/*     background-image: -webkit-linear-gradient(to right, #ff4582, #fb366b)!important;
    background-image: linear-gradient(to right, #e15554, #e15554)!important; */
    height: 2.5rem;
    line-height: 2.5rem;
    width: 100%;
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
}